@using DentalEstrada.Models
@model Appointment

<link rel="stylesheet" href="~/css/bootstrap-grid.css"/>

<style>
    .text {
        font-size: 18px;
    }
</style>

<center><h1>Administrator Dashboard</h1>

<a class="btn btn-info" href="/admin/appointment/new" role="button">Create New Appointment</a>

</center>

<div class="row">
    <div class="col-8">
        <h3>Appointments</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var a in @ViewBag.AllAppointments)
                {

                    <tr style="text-align: center">
                    <th class="text"scope="row"><a href="/profile/@a.AppointmentID">@a.CustomerName</a></th>
                    <td class="text">@a.StartDate</td>
                    <td class="text">@a.EndDate</td>
                    <td class="text">@a.Phone</td>
                    <td class="text"><a class="btn btn-danger href="#" role="button">Delete</a><a class="btn btn-success href="#" role="button">Edit</a></td>
                    </tr>
                }

                </tbody>
            </table>
    </div>
    <div class="col-4">
        <h3>Activity Log</h3>
        {
            <div>@b.FirstName @b.LastName @b.BestTime @b.Phone</div>
        }
    </div>
</div>